body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

#user-info p {
    font-size: 18px;
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

input {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

